/* Add CSS Styling */
.button-1{
    color: rgb(250, 250, 250);
    background-color: rgb(0, 0, 0);
}

.button-2{
    background-color: rgb(250, 250, 0);
}

.button-1, 
.button-2 {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', 'sans-serif';
}